.desk_nav ul {
    list-style-type: none;
    display: flex;
}

.button_container {
    position: relative;
    height: 27px;
    width: 35px;
    cursor: pointer;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    z-index: 100;
    pointer-events: auto;
}

.button_container.active {
    position: fixed;
}

.button_container.active .top {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
    transform: translateY(8px) translateX(0) rotate(45deg);
    background: #000;
}

.button_container.active .middle {
    opacity: 0;
    background: #000;
}

.button_container.active .bottom {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #000;
}

.button_container span {
    background: #000000;
    border: none;
    height: 2px;
    width: 80%;
    position: absolute;
    top: 5px;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 13px;
}

.button_container span:nth-of-type(3) {
    top: 21px;
}

.overlay {
    position: fixed;
    background: #F3EBE8;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 90;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}

.overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}

.overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.overlay nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #000;
    text-decoration: none;
    overflow: hidden;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@media only screen and (min-width: 600px) {
    .mobile_nav {
        display: none;
    }
}


/* nav */


.mobile_nav {
    padding: 20px;
    min-height: 30px;
}

.current_page {
    font-family: mandrel-normal, sans-serif;
    font-weight: 500;
    color: #AAAAAA;
}



.hidden {
    display: none;
}

#profile_image {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-color: #B00B13;
    border-radius: 50%;
}

#profile_image img {
    position: absolute;
    width: 100%;
    top: 0px;
}

#profile_image.konami img:nth-of-type(2) {
    transition: top 1s ease-in 3s;
    top: 300px;
}

#profile_image.konami img:nth-of-type(3) {
    transition: top 1s ease-in 2s;
    top: 300px;
}

#profile_image.konami img:nth-of-type(4) {
    transition: top 1s ease-in 1s;
    top: 300px;
}

#profile_image.konami img:nth-of-type(5) {
    transition: top 1s ease-in;
    top: 300px;
}

body {
    background-color: #F3EBE8;
    margin: 0;
}


#forside h2 {
    font-family: kumlien-pro, serif;

    font-weight: 600;
    font-size: 1.2rem;
    font-style: normal;
    color: #234684;
}

#forside h1 {
    font-family: mandrel-normal, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #767877;
    font-size: 3rem;
    margin-top: 0px;
}

#forside .subject {
    display: flex;
    justify-content: center;


}


#forside a {
    font-family: mandrel-normal, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #234684;
    cursor: pointer;
    text-decoration: none;
}

#forside .forside_footer {
    font-family: mandrel-normal, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #234684;
    display: flex;
    justify-content: center;
    transform: translateY(-60px);
    margin-top: 30px;
}



#forside .box {
    background-color: #F9FAF5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;

}

#forside .name_hor1 {
    display: flex;
    justify-content: center;
    top: 92px;
}


#forside .mySlides {
    width: 100%;
    justify-content: flex-start;
}


.desk_nav {
    display: none;

}

a {
    font-family: mandrel-normal, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #234684;
    cursor: pointer;
    text-decoration: none;
}

footer {
    font-family: mandrel-normal, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #234684;
    cursor: pointer;
    text-decoration: none;
}

#web {
    display: flex;
    flex-direction: column;
}

#web .col1 {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF5;
    padding: 20px;
    border-radius: 25px;
    margin: 20px;

}

#web .fotos {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-basis: auto;
}

#web .fotos img {
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-align: center;
    width: 290px;
}

#web .img1 {
    padding: 10px;
    background-color: #E4E1DC;
    border-radius: 25px;
    margin: 20px;
}

#web .img2 {
    padding: 10px;
    background-color: #E9E8E4;
    border-radius: 25px;
    margin: 20px;
}

#web p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

#web h2 {
    font-family: kumlien-pro, serif;

    font-weight: 600;
    font-size: 1.8rem;
    font-style: normal;
    color: #234684;
}

#ux h2 {
    font-family: kumlien-pro, serif;

    font-weight: 600;
    font-size: 1.8rem;
    font-style: normal;
    color: #234684;
}

#animation h2 {
    font-family: kumlien-pro, serif;

    font-weight: 600;
    font-size: 1.8rem;
    font-style: normal;
    color: #234684;
}

#animation p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

#ux .fotos1 {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-basis: auto;
    padding: 10px;
    background-color: #F0EFED;
    margin: 20px;
}

#ux .fotos1 img {

    margin: 0 auto;
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-align: center;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;

}

#ux .fotos2 {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-basis: auto;
    padding: 10px;
    background-color: #E9E8E4;
    margin: 20px;
}

#ux .fotos2 img {
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-align: center;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;

}

#ux .fotos3 {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-basis: auto;
    padding: 10px;
    background-color: #E4E1DC;
    margin: 20px;
}

#ux .fotos3 img {
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-align: center;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;

}

#ux .fotos4 {
    display: flex;
    flex-basis: auto;
    padding: 10px;
    background-color: #DEDBD6;
    margin: 20px;
}

#ux .fotos4 img {
    width: 100%;


}

#ux .fotos5 {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-basis: auto;
    padding: 10px;
    background-color: #F0EFED;
    margin: 20px;
}

#ux .fotos5 img {
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-align: center;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;

}

#ux .fotos6 {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-basis: auto;
    padding: 10px;
    background-color: #E9E8E4;
    margin: 20px;
}

#ux .fotos6 img {
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-align: center;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;

}

#ux .textbox {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    padding: 10px;
    background-color: #F9FAF5;
    border-radius: 20px;
    margin: 20px;
}

#ux {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

#animation .fotos img {

    width: 100%;
}

#animation .fotos {
    padding: 10px;
    background-color: #F0EFED;
    margin: 20px;
}

#animation .fotos1 {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-basis: auto;
    padding: 10px;
    background-color: #F0EFED;
    margin: 20px;
}

#animation .fotos1 img {
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-align: center;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;

}

#animation .textbox {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    padding: 10px;
    background-color: #F9FAF5;
    border-radius: 20px;
    margin: 20px;
}

#animation {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

#animation .fotos2 img {
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-align: center;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;

}

#animation .fotos2 {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-basis: auto;
    padding: 10px;
    background-color: #E9E8E4;
    margin: 20px;
}

#ommig h2 {
    font-family: kumlien-pro, serif;

    font-weight: 600;
    font-size: 1.8rem;
    font-style: normal;
    color: #234684;
}

#ommig p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

#ommig .textbox {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    padding: 10px;
    background-color: #F9FAF5;
    border-radius: 20px;
    margin: 20px;
}

@media only screen and (min-width: 600px) {


    #menuknap {
        display: none;
    }

    .desk_nav {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        flex-basis: 600px;
        justify-content: space-between;
    }

    nav {
        display: flex;
        list-style-type: none;
        flex-direction: row;
    }

    li {
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 10px;
    }

    .nav_om {
        display: flex;
        justify-content: flex-end;
    }

    #forside .box {
        flex-basis: 400px;
        padding: 40px;
        flex-grow: 2;

    }

    #forside .just {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        flex-direction: column;
    }

    #forside .name_ver2 {
        display: flex;
        right: -85px;

    }

    #forside .name_ver {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        top: -145px;
        left: 585px;

    }

    #forside .name_hor1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 150px;
        margin: 30px;

    }



    #forside h2 {
        font-size: 3rem;
        margin: 14px;
    }

    #forside h1 {
        margin-bottom: 0px;
        font-size: 7rem;
    }



    #forside .forside_footer {
        display: none;
    }

    #forside {
        margin-bottom: 20px;
    }

    #forside .subject {
        display: flex;
        flex-basis: auto;
        align-items: center;
        transform: translateY(20px);
        flex-grow: 2;
    }

    #web .fotos img {
        width: 305px;
    }

    #web .fotos {
        align-items: center;
    }
}


@media only screen and (min-width: 700px) {
    #forside .subject {
        border: none;
    }

    #forside h1 {
        font-size: 5rem;
    }

    #forside .box {
        flex-basis: 500px;

    }

    #forside .col1 {
        flex-direction: column;
    }

    #forside h2 {
        font-size: 2.5rem;
    }

    #forside .subject {
        align-items: flex-start;
        width: 100%;
        transform: translateY(-200px);
    }
}

@media only screen and (min-width: 800px) {


    #menuknap {
        display: none;
    }

    .desk_nav {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        flex-basis: 600px;
        justify-content: space-between;
    }

    nav {
        display: flex;
        list-style-type: none;
        flex-direction: row;
    }

    .nav_om {
        display: flex;
        justify-content: flex-end;
    }

    #forside .box {
        flex-basis: 400px;
        padding: 40px;
        flex-grow: 2;

    }

    #forside .just {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        flex-direction: column;
    }

    #forside .name_ver2 {
        display: flex;
        right: -85px;

    }

    #forside .name_ver {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        top: -145px;
        left: 585px;

    }

    #forside .name_hor1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 150px;
        margin: 30px;

    }



    #forside h2 {
        font-size: 3rem;
        margin: 14px;
    }

    #forside h1 {
        margin-bottom: 0px;
        font-size: 5rem;
    }

    #forside .col1 {
        display: flex;
        flex-direction: row;
    }

    #forside .forside_footer {
        display: none;
    }

    #forside {
        margin-bottom: 20px;
    }

    #forside .subject {
        display: flex;
        flex-basis: auto;
        align-items: center;
        transform: translateY(20px);
        flex-grow: 1;
        flex-basis: 400px;

    }




    #web {
        flex-direction: row;
    }

    #web .fotos {
        display: flex;
        flex-direction: column;
        flex-basis: 600px;
        flex-grow: 2;
        margin: 25px;
        overflow-x: hidden;

    }

    #web .col1 {
        display: flex;
        flex-direction: column;
        flex-basis: 400px;
        flex-grow: 1;
        background-color: #F9FAF5;
        border-radius: 25px;
        padding: 20px;
        margin-left: 25px;
        margin-top: 25px;
        height: 50%;

        scroll-snap-type: none;
    }

    #web .fotos img {
        width: 96%;
        flex-basis: 400px;
        border-radius: 20px;

    }

    #web img1 {
        width: auto;
    }

    #web img2 {
        width: auto;
    }

}

@media only screen and (min-width: 1000px) {
    #forside .subject {
        flex-basis: 400px;
    }

    #forside .box {
        flex-basis: auto;
        padding: 40px;
        flex-grow: 1;
        width: min-content;
    }

    #forside h1 {
        margin-bottom: 0px;
        font-size: 6rem;
    }

    #web .fotos img {
        width: 98%;
    }

    #ux {}



    #ux .fotos2 {

        overflow-x: initial;
        flex-direction: row;
        display: flex;
        width: 94%;
        align-content: center;
        justify-content: space-around;
    }

    #ux .fotos2 img {
        scroll-snap-align: none;
        width: 25%;
        align-self: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 10px;
        margin-left: 10px;

    }

    #ux .fotos3 {

        overflow-x: initial;
        flex-direction: row;
        display: flex;
        width: 94%;
        align-content: center;
        justify-content: space-around;
    }

    #ux .fotos3 img {
        scroll-snap-align: none;
        width: 25%;
        align-self: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 10px;
        margin-left: 10px;

    }


    #ux .fotos4 {
        overflow-x: initial;
        flex-basis: auto;
        flex-direction: column;
        width: 25%;
    }

    #ux .fotos4 img {
        width: 100%;
    }

    #ux .fotos5 {

        overflow-x: initial;
        flex-basis: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    #ux .fotos5 img {
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        width: 25%;
    }

    #ux .fotos6 {

        overflow-x: initial;
        flex-basis: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #ux .fotos6 img {
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        width: 25%;
    }



    #animation .fotos1 img {
        scroll-snap-align: none;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
        margin-left: 0px;

    }



    #animation .fotos2 img {
        scroll-snap-align: none;
        width: 48%;

        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
        margin-left: 0px;
        flex-direction: row;

    }

    #animation .fotos2 {
        justify-content: space-around;
        overflow-x: initial;
        flex-basis: 400px;
        flex-direction: row;
    }

    #animation .fotos1c {
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: center;
        align-self: center;

    }

    #animation .fotos1a {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #animation .fotos1a img {

        width: 25%;
        margin-bottom: 20px;

    }

    #ommig {
        margin: 20px;
        margin-right: 40px;
        display: flex;
        flex-direction: row-reverse;
    }

    footer {
        margin-left: 20px;
        pointer-events: none;
    }
}
