html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}


#menuknap {
    margin: 10px;
    display: inline-block;
    position: sticky;
}



#menu {
    list-style-type: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #F3EBE8;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


body {
    background-color: #F3EBE8;
    margin: 0;
}

@media only screen and (min-width: 600px) {}

h2 {
    font-family: kumlien-pro, serif;

    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
    color: #234684;
}

#forside h1 {
    font-family: mandrel-normal, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #767877;
    font-size: 3rem;
}

#forside .subject {
    display: flex;
    justify-content: center;
    position: relative;
    top: -65px;

}

a {
    font-family: mandrel-normal, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #234684;
}

#forside .forside_footer {
    font-family: mandrel-normal, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #234684;
    display: flex;
    justify-content: center;
    transform: translateY(-60px);
}

a {
    text-decoration: none;
}


#forside .box {
    background-color: #F9FAF5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;

}


#forside .name_hor {
    display: flex;
    justify-content: center;
    position: relative;
    top: 92px;
}

#forside .name_ver {
    display: flex;
    justify-content: center;
    position: relative;
    transform: rotate(90deg);
    top: 170px;
    left: 140px;

}

#forside .mySlides {
    width: 100%;
    justify-content: flex-start;
}
